<!DOCTYPE html>
<html>
<head>
    <title>Laptop Device Specifications</title>
</head>
<body>

    <h1>Laptop Device Specifications</h1>

    <h2>Student Details</h2>
    <p><b>Name:</b>Yashvath</p>
    <p><b>Register Number:</b>26012368</p>

    <h2>Device Specifications</h2>

    <ul>
        <li><b>Processor:</b> Intel Core 5 210H</li>
        <li><b>RAM:</b> 16 GB</li>
        <li><b>Storage:</b> 256 GB SSD</li>
        <li><b>Graphics:</b> Integrated Graphics</li>
        <li><b>Operating System:</b> Windows</li>
    </ul>

</body>
</html>